/* Basic framework setup */

header, footer {
    padding: 2px;
    position: relative;
    text-align: center;
    background-color: darkslategrey;
    color: rgb(255, 255, 255);
    border: 2px solid darkslategrey;
}

body {
    background-color: rgb(248, 248, 248);

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
}

h2 {
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h4 {
    font-size: 48px;
    text-align: center;
}

p {
    font-size: 20px;
}

img {
    border-radius: 8px;
}

/* Main setup */

.wrapper {
    width: 100%;
}

/* Groups & Items (Mobile first)*/

.group {
    display: flex;
    flex-direction: column;
}

/* Updates for Desktop*/

@media all and (min-width: 800px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        flex-direction: row;
    }
}


.item {
    flex: 1;
    margin: 10px;
}


/* Stylizying links */

a:visited {
    color:rgb(255, 2, 2);
}

a:hover {
    cursor: pointer;
    color: rgb(2, 247, 2);
}

a:active {
    color: black;
}

/* Articles */

#hello {
    margin-top: 100px;
    margin-bottom: 100px;
}

#contact, #portfolio {
    margin-bottom: 100px;
}

#about {
    background-color: darkslategrey;
    color: white;
    margin: 100 px;
    padding-bottom: 30px;
    padding-top: 10px;
}